.histroy_flex {
  display: flex;
  flex-direction: row;
}

.talk {
  color: #999999;
}

.bottomInfo {
  margin-left: 15%;
  height: 30vh;
  border: 1px solid #eeeeee;
  margin-top: 5vh;
  width: 83%;
}

.about {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.enter {
  width: 6vw;
  height: 6vw;
  background-color: #cdcdcd;
  color: white;
  text-align: center;
  line-height: 6vw;
  margin-top: 3vh;
  cursor: pointer;
}
